.player-page {
    margin: 0;
    padding: 0;

    width: 95vw;
    height: 95vh;
    background-color: antiquewhite;
}

.player-page__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}